body {
    background-color: #f5f5f5;
}

.detailcontent {
    width: 100%;
    position: absolute;
    left: 0;
    top: 45px;
}

.content {
    width: 100%;
    height: 80px;
    background: transparent;
}

.leftcontent {
    width: 20%;
    float: left;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.otherleftcontent {
    width: 25%;
    float: left;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo{
    width: 50px;
    height: 50px;
    margin-top: 19px;
}

.middlecontent {
    width: 40%;
    float: left;
}

.rightcontent {
    width: 40%;
    float: left;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.rightcontent img {
    width: 18px;
    height: 18px;
}

.title {
    margin-top: 20px;
    font-size: 15px;
    font: bold;
    width: 100%;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catagory {
    font-size: 12px;
    width: 100%;
    margin-top: 5px;
    white-space: nowrap;
    color: #737373
}

.desc {
    margin-top: 5px;
    font-size: 14px;
    width: 100%;
    color: #737373;
    font-size: 12px;
    white-space: nowrap;
    display: none;
}

.renzheng {
    color: #737373
}

.rzword {
    vertical-align: 40%;
    font-size: 14px;
}

.update_version {
    white-space: nowrap;
    margin-top: 5px;
}

.detailinfo {
    padding-top: 1px;
    padding-bottom: 1px;
	background-color:white;
}

.divider {
    height: 1px;
    width: 100%;
    background: #c9c9c9
}

.divider2 {
    text-align: center;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.softdesc {
    margin-top: 10px;
    margin-left: 5px;
}

.extendImage {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	 width: 150px;
     height: 20px;
}

.extend {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.desccontent {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
    background: transparent;
}

.textereacontent {
    width: 100%;
    height: 250px;
    background: transparent;
    border: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.othercontent {
    width: 100%;
    height: 85px;
    background: transparent;
}

.other {
    margin-top: 5px;
    margin-left: 5px;
}

.otherimage {
    width: 65px;
    height: 65px;
    margin-top: 10px;
    vertical-align: middle;
}

.downloadlogo {
    margin-right: 10px;
}

.downloadword {
    vertical-align: 5%;
}

.banner {
    width: 100%;
    height: 191px;
    background: #313131;
    text-align: center;
    color: white;
}

.item1 {
    float: left;
    width: 33.3%;
    height: 181px;
    text-align: center;
    margin-top: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.item2 {
    float: left;
    width: 33.3%;
    height: 181px;
    text-align: center;
    margin-top: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.item3 {
    float: left;
    width: 33.3%;
    height: 181px;
    text-align: center;
    margin-top: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.itemicon {
    width: 90%;
    height: 181px;
}

#bottomId {
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    text-align: center;
    z-index: 2;
}

.bigdownload {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    margin-left: 25%;
    color: #007aff;;
    background-image: url("../images/btn_bak.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header{
	width: 100%;
	height: 49px;
	background-color: #f5f5f5 ;
	position:fixed;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 2;
}
.head_top{
	width: 100%;
	height: 49px;
	line-height:49px;
	background-color:  #f5f5f5 ;
	 font-size: 18px;
	color: black;
}
