<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="batchAddTask" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>
				cn.adwalker.ad.task.BatchAddTask
			</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="delayActionService">
					<ref bean="delayActionService" />
				</entry>
			</map>
		</property>
	</bean>
	<bean id="batchAddTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="batchAddTask" />
		</property>
		<property name="cronExpression">
			<!--每一分零5秒执行value>5 0/1 * * * ?</value-->
			<value>0/20 * * * * ?</value>
		</property>
	</bean>
	
	

	<!-- 定时任务管理 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="batchAddTaskTrigger" />
			</list>
		</property>
	</bean>
</beans>
