.leftColor{
	position: absolute;
	height: 64px;
	width: 6px;
	background: #3be4bd
}
.box {
	background: #4d5967;
	height: 64px;
}

.boxL {
	width: 25%;
	float: left;
	height: 64px;
	text-align: center;
}

.logo {
	width: 54px;
	height: 54px;
	margin-top: 5px;
	padding-left: 10px
}

.boxM {
	width: 50%;
	float: left;
	height: 64px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.boxLM{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.boxR {
	width: 25%;
	float: left;
	height: 64px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.title {
	margin-top: 2px;
	margin-left: 5px;
	font-size: 14px;
	font: bold;
	width: 100%;
	color: white;
	white-space: nowrap;
	margin-right: 2px;
}

.catagory {
	font-size: 10px;
	width: 100%;
	margin-left: 5px;
	margin-top: 2px;
	white-space: nowrap;
	color: #cdcdcd;
	margin-right: 2px;
}

.desc {
	margin-top: 2px;
	font-size: 12px;
	width: 100%;
	margin-left: 5px;
	color: #cdcdcd;
	margin-right: 2px;
	word-break:break-all
}
.plus {
	font: bold;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 2px;
	position: absolute;
}

.divider {
	height: 1px;
	width:100%;
	background-color: #616b75;
	text-align: center;
}

.divider2 {
	height: 1px;
	width:100%;
	text-align: center;
	background: #616b75
}

.recolist {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0
}

.preload {
	position: absolute;
	z-index: 1;
}

#bottomId{
	position:fixed;
	width: 100%;
	left: 0;
	bottom:0;
	height: 40px;
	color:white;
	background-color: #272a2f;
	z-index: 1;
	background:rgba(0,0,0,0.7);
}

#bottomId2{
	width: 100%;
	left: 0;
	bottom:0;
	height: 40px;
	color:white;
	background-color: black;
}

.bottomleft{
	float: left;
	margin-left: 20px;
	margin-top: 12px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bottomright{
	float: right;
	margin-right: 20px;
	margin-top: 12px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.listcontent {
	position: absolute;
	width: 100%;
	left: 0;
	top: 75px;
}
.titletop{
	width: 100%;
	height: 44px;
}
.titlebottom{
	width: 100%;
	height: 30px;
}
.download01{
	vertical-align: middle;
	margin-left: 3px
}
.downjifen{
	font-size: 18px;
}
.downjinbi{
	font-size: 10px;
}
.titleword{
	color: white;
	font-size: 18px
}
.freeword{
	vertical-align: middle;
	color: white;
	font-size: 12px
}
.downloadplus{
	font-weight: bold;
	font-size: 14px; 
	vertical-align: 40%;
}
.downTop{
	white-space: nowrap;
	overflow: hidden;
	color: #3be4bd;
	text-align: center;
	height: 20px;
	padding-top: 5px;
}

.downMiddle{
	text-align: center;
	color: #3be4bd;
	height: 15px;
	margin-bottom: 2px;
}
.downBottom{
	text-align: center;
	height: 24px;
	margin-bottom: 5px;
}

.vertical_divider{
	width: 1px;
	height: 64px;
	position: absolute;
	float: left;
	text-align: center;
	line-height: 64px
}

.vertical_divider img{
	height: 64px;
	vertical-align: middle;
	margin-top: 0.5px
}

.toptitle {
	position:fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 75px;
	background-color: black;
	z-index: 1
}

.bookword{
	vertical-align: middle;
	color: #a8adb3;
	size: 18px;
}

.topleft{
	position:absolute;
	width: 20%;
 	height: 44px; 
 	margin-top:5px; 
 	text-align:center;
 	line-height:44px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.topright{
	width: 100%;
 	height: 44px; 
	text-align: center;
 	line-height: 44px; 
}

.titleleftlogo{
	vertical-align: middle;
	margin-right: 3px;
}

.titlerightlogo{
	vertical-align: middle;
	margin-left: 3px;
}

.titleleft {
	background-color:#272a2f;
	float: left;
	width: 50%;
	font: bold;
	height: 30px;
	text-align:center;
	line-height: 30px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.titleright {
	background-color:#3d424a;
	float: left;
	width: 50%;
	font: bold;
	height: 30px;
	text-align:center;
	line-height: 30px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.signInfo{
	color: #a8abd3;
	text-align: center;
	height: 20px; 
	font-size: 14px;
	line-height: 20px;
}

body{
	background: #4d5967;
}

@media screen and (orientation:portrait) { 
	.emptyInfo{
		display: none;
		color: #a8abd3;
		font-size: 24px;
		text-align: center;
		margin-top: 30%;
		
	}
}

@media screen and (orientation:landscape) { 
	.emptyInfo{
		display: none;
		color: #a8abd3;
		font-size: 24px;
		text-align: center;
		margin-top: 10%;
		margin-bottom: 10%;
		
	}
}

body{
	background: #4d5967;
}