/* 
 * My97 DatePicker 4.7 Skin:whyGreen
 */ 
.WdateDiv{
	width:180px;
	background-color:#fff;
	border:#b6ddff 1px solid;
	padding:2px;
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

.WdateDiv .NavImg a{
	cursor:pointer;
	display:block;
	width:16px;
	height:16px;
	margin-top:1px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:url(img.gif) no-repeat;
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(img.gif) no-repeat -16px 0px;
}
.WdateDiv .NavImgr a{
	float:right;
	background:url(img.gif) no-repeat -32px 0px;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:url(img.gif) no-repeat -48px 0px;
}

.WdateDiv #dpTitle{
	height:24px;
	padding:1px;
	border:#afdafa 1px solid;
	background:url(bg.jpg);
	margin-bottom:2px;
}

.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	border:0px;
	height:20px;
	width:50px;
	color:#154c76;
	background-color:transparent;
	cursor:pointer;
}

.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	border:#608fb7 1px solid;
	font-weight:bold;
	color:#1e66a1;	
	height:20px;
	width:50px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#8ccbff 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#2975b3;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#add9ff;
}

.WdateDiv .invalidMenu{
	color:#1c649e;
}

.WdateDiv .YMenu{
	margin-top:20px;
}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#69b7fa;
	border-right:#8bc9ff 1px solid;
 }

.WdateDiv .MTitle{
	color:#13777e;
	background-color:#c8e5fd;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#b1dbff 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:20px;	
	color:#13777e;
	background-color:#edfbfb;
	border:#8ecbff 1px solid;
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#8ccaff ;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#154d7c;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#52afff;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
.WdateDiv .Wselday{
	background-color:#8ccaff;
}
.WdateDiv .WspecialDay{
	background-color:#8ccaff;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#3580c1;	
}

.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#76b9f5;	
}

.WdateDiv .WinvalidDay{
	color:#1d65a0;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:30px;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#497F7F;
}

.WdateDiv #dpTime input{
	height:20px;
	width:18px;
	text-align:center;
	color:#333;
	border:#3580c1 1px solid;	
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -48px -16px;
}

 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:3px;
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	margin-top:2px;
	border:#2672b0 1px solid;
	background-color:#CFEBEE;
	color:#0b4571;
}
 